* {
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D6FFB7;
    gap: 1rem;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

#button-design {
    height: 2rem;
    width: 2.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2);
}

i {
    font-size: 1.5rem;
}

.canvas-drawing {
    width: 90%;
    height: 90vh;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#button-design:hover {
    cursor: pointer;
}

input {
    height: 2rem;
    width: 1rem;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .main-container {
        flex-direction: column;
    }
    .buttons {
        flex-direction: row;
    }
}