* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ECC8AF;
}

.container {
    background-color: white;
    padding: 2rem 2.5rem 2rem 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 1.5rem 0 1rem 0;
}

form select, button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid grey;
    height: 2rem;
    padding-left: .5rem;
    font-size: 1rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.dropdown p {
    text-align: center;
}

.select-container img{
    max-width: 2rem;
}

.select-container {
    display: flex;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.75rem;
    border: 1px solid grey;
    padding: 0 0.1rem 0 0.1rem;
}

.dropdown i {
    font-size: .9rem;
    margin: 1rem .5rem 0 .5rem;
    
}

.select-container select {
    width: auto;
    font-size: .8rem;
}

#msg {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1rem;
}

button {
    height: 2.5rem;
    background-color: #303633;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}