* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #52796F;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin; 
    border: none;
    border-radius: 10%;   
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
    font-size: 8vmin;
    background-color: burlywood;
    color: brown;
}

#reset-btn {
    height: 10vmin;
    width: 12vmin;
    border-radius: 8%;
    border: none;
    background-color: #191913;
    color: whitesmoke;
    font-size: 1rem;
}

h1 {
    margin-top: 15px;
}